BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: auto; PADDING-TOP: 0px; FONT-FAMILY: Verdana
}
TD {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana
}
DIV {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana
}
SPAN {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana
}
TABLE {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana; BORDER-COLLAPSE: collapse
}
INPUT {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana
}
TEXTAREA {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana
}
BUTTON {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana
}
