A:link {
	FONT-SIZE: 9pt; COLOR: #cc0000; FONT-STYLE: normal; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #cc0000; FONT-STYLE: normal; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #cc0000; FONT-STYLE: normal; TEXT-DECORATION: underline
}
A.nor:link {
	FONT-SIZE: 9pt; COLOR: #cc0000; FONT-STYLE: normal; TEXT-DECORATION: underline
}
A.nor:visited {
	FONT-SIZE: 9pt; COLOR: #cc0000; FONT-STYLE: normal; TEXT-DECORATION: underline
}
A.nor:hover {
	FONT-SIZE: 9pt; COLOR: #cc0000; FONT-STYLE: normal; TEXT-DECORATION: underline
}
BODY {
	FONT-SIZE: 9pt; MARGIN: 0px; CURSOR: default; COLOR: black; FONT-FAMILY: "????"
}
P {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-INDENT: 18pt; LINE-HEIGHT: 200%; FONT-FAMILY: "????"; TEXT-DECORATION: none
}
P#check {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-INDENT: 18pt; LINE-HEIGHT: 200%; FONT-FAMILY: "????"; TEXT-DECORATION: none
}
#aboutus {
	BORDER-RIGHT: #83aded 1px solid; BORDER-TOP: #83aded 1px solid; FONT-SIZE: 9pt; Z-INDEX: 1; LEFT: 380px; BORDER-LEFT: #83aded 1px solid; WIDTH: 288px; BORDER-BOTTOM: #83aded 1px solid; POSITION: absolute; TOP: 50px; HEIGHT: 284px; BACKGROUND-COLOR: #d8e8fc; TEXT-DECORATION: none
}
#topmenu A:link {
	FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: none
}
#topmenu A:visited {
	FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: none
}
#topmenu A:hover {
	FONT-SIZE: 9pt; COLOR: #ffff00; TEXT-DECORATION: none
}
.pt9 {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: "????"; TEXT-DECORATION: none
}
.pt9_noline_height {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "????"; TEXT-DECORATION: none
}
A.right_toolbar:link {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "????"; TEXT-DECORATION: none
}
A.right_toolbar:visited {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "????"; TEXT-DECORATION: none
}
A.right_toolbar:hover {
	FONT-SIZE: 9pt; COLOR: #3300cc; FONT-STYLE: normal; FONT-FAMILY: "????"; TEXT-DECORATION: underline
}
A.select_button:link {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "????"; TEXT-DECORATION: none
}
A.select_button:visited {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "????"; TEXT-DECORATION: none
}
A.select_button:hover {
	FONT-SIZE: 9pt; COLOR: #ff3300; FONT-STYLE: normal; FONT-FAMILY: "????"
}
.biaotou {
	FONT-SIZE: 24px; LINE-HEIGHT: 150%; FONT-FAMILY: "????"; TEXT-DECORATION: none
}
.table_css {
	BORDER-RIGHT: #8cc0fb groove; BORDER-TOP: #8cc0fb groove; FONT-SIZE: 9pt; BORDER-LEFT: #8cc0fb groove; BORDER-BOTTOM: #8cc0fb groove
}
BUTTON {
	BORDER-RIGHT: #c1c1c1 2px outset; PADDING-RIGHT: 2px; BORDER-TOP: #fff 2px outset; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #fff 2px outset; CURSOR: hand; COLOR: #333; LINE-HEIGHT: normal; MARGIN-RIGHT: 0.5em; PADDING-TOP: 0.2em; BORDER-BOTTOM: #c1c1c1 2px outset; FONT-STYLE: normal; HEIGHT: 22px; BACKGROUND-COLOR: #e6e6e6; FONT-VARIANT: normal
}
.c1 {
	BACKGROUND-COLOR: #fff
}
.c2 {
	BACKGROUND-COLOR: #fff
}
#nc {
	COLOR: black; BACKGROUND-COLOR: #e9e8e4
}
#snwcwt TABLE {
	BORDER-RIGHT: #a2a4b0 1px solid; BORDER-TOP: #a2a4b0 1px solid; MARGIN: 2px 0px; BORDER-LEFT: #a2a4b0 1px solid; BORDER-BOTTOM: #a2a4b0 1px solid; FONT-FAMILY: "????"; BORDER-COLLAPSE: collapse
}
#snwcwt TD {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 0px solid; MARGIN: 2px 0px; BORDER-LEFT: #ccc 0px solid; BORDER-BOTTOM: #ccc 1px solid
}
.e_input_button {
	BORDER-RIGHT: #2c59aa 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #2c59aa 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#D7E7FA); BORDER-LEFT: #2c59aa 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #2c59aa 1px solid
}
A.fenye:link {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "????"; TEXT-DECORATION: none
}
A.fenye:visited {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "????"; TEXT-DECORATION: none
}
A.fenye:hover {
	FONT-SIZE: 9pt; COLOR: #3300cc; FONT-STYLE: normal; FONT-FAMILY: "????"; TEXT-DECORATION: underline
}
.check_css {
	ZOOM: 80%
}
.white_input {
	BORDER-RIGHT: #b7b7b7 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #736866 1px solid; WIDTH: 100%; BORDER-BOTTOM: #ececec 1px solid; BACKGROUND-COLOR: #fffbee
}
.white_input1 {
	BORDER-RIGHT: #b7b7b7 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #736866 1px solid; BORDER-BOTTOM: #ececec 1px solid; BACKGROUND-COLOR: #fffbee
}
.white_input2 {
	BORDER-RIGHT: #b7b7b7 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #736866 1px solid; WIDTH: 98%; BORDER-BOTTOM: #ececec 1px solid; BACKGROUND-COLOR: #fffbee
}
.zhichu_table {
	BORDER-RIGHT: #9dceff 1px solid; BORDER-TOP: #9dceff 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 9pt; MARGIN: 2px 0px; BORDER-LEFT: #9dceff 1px solid; BORDER-BOTTOM: #9dceff 1px solid; FONT-FAMILY: "????"; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ecf8ff
}
.zhichu_table1 {
	BORDER-RIGHT: #9dceff 1px solid; BORDER-TOP: #9dceff 1px solid; FONT-SIZE: 9pt; MARGIN: 2px 0px; BORDER-LEFT: #9dceff 1px solid; BORDER-BOTTOM: #9dceff 1px solid; FONT-FAMILY: "????"; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
.zhengwen_input_text {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 100%; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 19px
}
.zhengwen_input_text_no100 {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #7f9db9 1px solid; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 19px
}
.zhengwen_input_text_98_18 {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #7f9db9 1px solid; BORDER-BOTTOM: #7f9db9 1px solid
}
.zhengwen_input_text_98_18_hui {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #7f9db9 1px solid; COLOR: #999999; BORDER-BOTTOM: #7f9db9 1px solid
}
.zhengwen_input_width99 {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 98%; BORDER-BOTTOM: #7f9db9 1px solid
}
.zhengwen_pingshen {
	HEIGHT: 12pt
}
.liucheng1 {
	CURSOR: hand; BACKGROUND-COLOR: #fdf7bd
}
.liucheng2 {
	CURSOR: hand; BACKGROUND-COLOR: #fce29e
}
#pingshen TD {
	BORDER-RIGHT: #caa200 1px solid; BORDER-TOP: #caa200 0px solid; MARGIN: 2px 0px; BORDER-LEFT: #caa200 0px solid; BORDER-BOTTOM: #caa200 1px solid
}
.td_button {
	BACKGROUND-IMAGE: url(images/bottom_button_bg.gif); CURSOR: hand; BACKGROUND-REPEAT: no-repeat
}
.td_button1 {
	BACKGROUND-IMAGE: url(images/bottom_button_bg1.gif); CURSOR: hand; BACKGROUND-REPEAT: no-repeat
}
#list_sb1 TABLE {
	BORDER-RIGHT: #caa200 0px solid; BORDER-TOP: #caa200 1px solid; FONT-SIZE: 9pt; MARGIN: 2px 0px; BORDER-LEFT: #caa200 1px solid; COLOR: #000000; BORDER-BOTTOM: #caa200 0px solid; BORDER-COLLAPSE: collapse
}
#list_sb1 TD {
	BORDER-RIGHT: #caa200 1px solid; BORDER-TOP: #caa200 0px solid; MARGIN: 2px 0px; BORDER-LEFT: #caa200 0px solid; BORDER-BOTTOM: #caa200 1px solid
}
#list_sb_pingshen TABLE {
	BORDER-RIGHT: #caa200 0px solid; BORDER-TOP: #caa200 1px solid; FONT-SIZE: 9pt; MARGIN: 2px 0px; BORDER-LEFT: #caa200 1px solid; COLOR: #000000; BORDER-BOTTOM: #caa200 0px solid; BORDER-COLLAPSE: collapse
}
#list_sb_pingshen TD {
	BORDER-RIGHT: #caa200 1px solid; BORDER-TOP: #caa200 0px solid; MARGIN: 2px 0px; BORDER-LEFT: #caa200 0px solid; BORDER-BOTTOM: #caa200 1px solid
}
